footer.bg-dark.text-light.py-4.mt-5
  .container
    .row
      .col-md-4.mb-4
        h3 About Us
        p Food Nutrition Assistant helps you better manage your diet and nutrition.
      .col-md-4.mb-4
        h3 Quick Links
        ul.list-unstyled
          li.mb-2
            a.text-light.text-decoration-none(href="/") Home
          li.mb-2
            a.text-light.text-decoration-none(href="/food") Food Search
          li.mb-2
            a.text-light.text-decoration-none(href="/meal-planner") Meal Planner
          li.mb-2
            a.text-light.text-decoration-none(href="/recipes") Recipes
      .col-md-4.mb-4
        h3 Contact Us
        p.mb-1 Email: contact@nutritionapp.com
        p.mb-1 Phone: 123-456-7890
    .row.mt-4
      .col-12.text-center
        p.mb-2 Powered by 
          a.text-light.text-decoration-none(href="https://calorieninjas.com/api" target="_blank") CalorieNinjas API and 
          a.text-light.text-decoration-none(href="https://spoonacular.com/food-api" target="_blank") Spoonacular API
        p.mb-0 &copy; Kexin Sun, 2025 NutriPlanner. All rights reserved.  