footer.bg-dark.text-light.py-2
  .container.mt-4
    .col-12.text-center
      p Powered by 
        a.text-light.text-decoration-none(href="https://calorieninjas.com/api" target="_blank") CalorieNinjas API and 
          a.text-light.text-decoration-none(href="https://spoonacular.com/food-api" target="_blank") Spoonacular API
        p &copy; Kexin Sun, 2025 NutriPlanner. All rights reserved.  